/* ESTILO DA PÁGINA DE REGISTRO */
.register {
  text-align: center;
  padding: 0 1em;
}

.register h1 {
  margin-bottom: 0.5em;
}

.register p {
  color: #aaa;
  margin-bottom: 2em;
}

.register form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.register label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.2em;
}

.register label span {
  margin-bottom: 0.4em;
  font-weight: bold;
}

.register input {
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.register form button {
  align-self: center;
  width: 50%;
}

.register .erro {
  margin-top: 1em;
}
