.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2vw;
}

.brand {
  font-size: 4vw;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5em;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.show_menu {
  max-height: 300px;
}

.links_list li {
  width: 100%;
  margin-right: 0;
  padding: 0.5em 0;
  border-bottom: 1px solid #eee;
}

.links_list li a {
  font-size: 5vw;
}

.hamburger {
  display: block;
  cursor: pointer;
  order: 2;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #333;
}

.navbar > * {
  margin: 0;
}

/* --- ESTILOS PARA TELAS MAIORES (TABLETS E DESKTOPS) --- */
@media (min-width: 768px) {
  .navbar {
    padding: 0.5em 2em;
  }

  .brand {
    font-size: 1.5em;
  }

  .links_list {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: initial;
    overflow: visible;
    width: auto;
  }

  .links_list li {
    margin-right: 1em;
    padding: 0;
    border-bottom: none;
    width: auto;
  }

  .links_list li a {
    font-size: 1.1em;
  }

  .hamburger {
    display: none;
  }
}
